#ProtonWrapper {
    height: 98vh;
    width: 99vw;
    display: flex;
    background-color: #262626;
    border-radius: .5rem;
    position: fixed;
    overflow: auto;
    resize: both;
    font-family: 'Fira Code', monospace;
    border: 1px solid rgb(149, 149, 149);
}

#Proton-editor-wrapper {
    width: 50vw;
    cursor: normal;
    overflow: auto;
    background-color: #262626;
    resize: both;
    border: 1px solid rgb(149, 149, 149);
    border-radius: .5rem;
    margin: .3rem;
}

#files{
    height: max-content;
    margin: 1rem;
    padding: .5rem;
    color: white;
}

#seperator {
    display: grid;
    height: 100vh;
    width: .2rem;
    align-items: center;
}

#sep-indicator {
    height: 5vh;
    width: .2rem;
    background-color: #dfdfdf;
    border-radius: .5rem;
}

#seperator:hover {
    cursor: col-resize;
}

#Proton-console-wrapper {
    height: 95vh;
    width: 50vw;
    background-color: #262626;
    padding: .5rem;
    overflow: auto;
    resize: both;
    border-radius: .5rem;
    border: 1px solid rgb(149, 149, 149);
    margin: .3rem;
}

#Ph-line-count {
    height: 80vh;
    min-width: min-content;
    max-width: fit-content;
    margin: .3rem;
    padding: .5rem;
    text-align: center;
    line-height: 1.5;
    background-color: #3b3b3b;
    border-radius: .5rem;
    color: white;
    overflow-y: scroll;
}

#Proton-editor {
    height: 80vh;
    width: 95vw;
    margin: .3rem;
    padding: .5rem;
    color: #eeeeee;
    outline: none;
    line-height: 1.5;
    white-space: nowrap;
    overflow-x: auto;
}

h3 {
    margin: 0;
    color: rgb(255, 255, 255);
}

#options {
    min-width: 25vw;
    border-radius: .5rem;
    background-color: rgb(55, 55, 55);
    position: absolute;
    transform: translate(50%, 50%);
    color: white;
    display: none;
    z-index: 5;
    resize: both;
    overflow: auto;
}

#pr-close-holder,
#settings_holder {
    padding: .7rem;
}

#pr-close-holder h1 {
    margin: 0;
}

#pr-close-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-radius: .5rem;
    background-color: rgba(55, 55, 55, 0.8);
    backdrop-filter: blur(15px);
}

#pr-closeOptions,
#showOptions,
#runCode {
    float: right;
    background-color: transparent;
    padding: .5rem;
    color: white;
    border-radius: .5rem;
    border: none;
}

#options label {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

#options label:hover {
    cursor: pointer;
}

#proton-options:hover {
    opacity: 1;
}

#proton-options {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 25;
    margin: 1rem;
    float: right;
    z-index: 4;
}

#showOptions {
    color: white;
    border: none;
}

#showOptions:hover {
    cursor: pointer;
}

#showOptions line,
#showOptions circle {
    stroke: white;
    fill: white;
}

#consoleStartPointer,
#font {
    width: 3rem;
    background-color: #2e2e2e;
    color: white;
    border: none;
    outline: none;
    margin: .3rem;
    padding: .5rem;
    border-radius: .5rem;
}

#font {
    width: auto;
}

.fontFamilies {
    background-color: rgb(50, 50, 50);

}

option:hover {
    background-color: rgb(74, 74, 74);
}

#save {
    width: 100%;
    background-color: #454545;
    color: white;
    border: none;
    outline: none;
    margin: .3rem;
    padding: .5rem;
    border-radius: .5rem;
}

#save:hover,
#pr-closeOptions:hover,
#runCode:hover,
#showOptions:hover {
    background-color: #2e2e2e;
    cursor: pointer;
}

#runcode path {
    fill: rgb(128, 233, 128);
}

#suggestions {
    position: absolute;
    display: grid;
    color: white;
}

.pr-checkboxes {
    opacity: 0;
}

.customCheckbox {
    height: 1.5rem;
    width: 3rem;
    border-radius: 5rem;
    display: block;
    background-color: #dcdcdc;
    border: .1rem solid #dcdcdc;
    transition: .2s ease-in-out;
}

#circle {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    display: block;
    transition: .2s ease-in-out;
}

#autoformat:checked~#autoformat-checkbox,
#pr-draggable-wrappers:checked~#pr-draggable {
    background-color: #50fa7b;
    transition: .2s ease-in-out;
}

#autoformat:checked~#autoformat-checkbox #circle,
#pr-draggable-wrappers:checked~#pr-draggable #circle {
    margin-left: 1.5rem;
    transition: .2s ease-in-out;
}

.suggestions-list {
    background-color: #333333;
    color: white;
    border: none;
    outline: none;
    font-size: 14;
}

.suggestions-list:hover,
.suggestions-list:focus {
    background-color: #525252;
}

#console {
    background-color: #262626;
    border-radius: .5rem;
    color: white;
    padding: .2rem;
    overflow: auto;
}

#console p {
    margin: .5rem;
}

.console-starter {
    color: rgb(138, 255, 138);
}

.console-error {
    color: rgb(255, 135, 111);
}

.symbol {
    color: rgb(167, 167, 167);
}

.keyword {
    color: #bd93f9;
}

.text {
    color: #efefef;
}

.string {
    color: #f1fa8c;
}

.number {
    color: #bd93f9;
}

.function {
    color: #50fa7b;
}

.inBuilt {
    color: #fbae7e;
    font-style: italic;
}

.operator {
    color: rgb(255, 0, 251);
}

.type {
    color: #ff79c6;
}

.comment {
    color: #6272a4;
}

#Ph-line-count::-webkit-scrollbar {
    display: none;

}

#Proton-console-wrapper::-webkit-scrollbar,
#Proton-editor-wrapper::-webkit-scrollbar {
    width: .2rem;
    background-color: transparent;
    color: transparent
}

#Proton-console-wrapper::-webkit-scrollbar-corner,
#Proton-editor-wrapper::-webkit-scrollbar-corner {
    background-color: transparent;
    width: .2rem;
    color: transparent
}

#protonWrapper::-webkit-scrollbar,
#options::-webkit-scrollbar {
    width: .3rem;
    background-color: transparent;
}

#protonWrapper::-webkit-scrollbar-thumb,
#options::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: .5rem;
}

.reposition {
    cursor: all-scroll;
}