body {
    background-color: black;
    font-family: 'Fira Code', monospace;
}

#ProtonWrapper {
    height: 98vh;
    width: 99%;
    display: grid;
    background-color: #262626;
    border-radius: .5rem;
    position: fixed;
    overflow: auto;
    resize: both;
    border: 1px solid rgb(149, 149, 149);
}

#Proton-editor-wrapper {
    display: flex;
    overflow: auto;
    height: 46.5vh;
    background-color: #262626;
    resize: vertical;
    border: 1px solid rgb(149, 149, 149);
    border-radius: .5rem;
    margin: .3rem;
}

#Proton-console-wrapper {
    height: 46.5vh;
    background-color: #262626;
    padding: .5rem;
    overflow: auto;
    resize: vertical;
    border-radius: .5rem;
    border: 1px solid rgb(149, 149, 149);
    margin: .3rem;
}

#autoformatHolder {
    position: absolute;
    color: white;
    margin: .3rem;
    padding: .5rem;
    right: 0;
}

#Ph-line-count {
    height: inherit;
    width: max-content;
    margin: .3rem;
    padding: .5rem;
    text-align: center;
    line-height: 1.5;
    background-color: #3b3b3b;
    border-radius: .5rem;
    color: white;
    overflow-y: scroll;
}

#Proton-editor {
    height: inherit;
    width: 95vw;
    margin: .3rem;
    padding: .5rem;
    color: #eeeeee;
    outline: none;
    line-height: 1.5;
    white-space: nowrap;
    overflow-x: auto;
}

h3 {
    margin: 0;
    color: rgb(255, 255, 255);
}

#options {
    height: auto;
    border-radius: .5rem;
    background-color: rgb(55, 55, 55);
    position: absolute;
    right: 5;
    top: 0;
    margin-top: -50vh;
    float: right;
    padding: .5rem;
    color: white;
    z-index: 3;
}

#options label {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

#options label:hover {
    cursor: pointer;
}

#proton-options:hover {
    opacity: 1;
}

#proton-options {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    right: 25;
    float: right;
    z-index: 4;
}

#showOptions {
    background-color: transparent;
    width: 2.3rem;
    color: white;
    border: none;
}

#showOptions:hover {
    cursor: pointer;
}

#consoleStartPointer, #font {
    width: 3rem;
    background-color: #2e2e2e;
    color: white;
    border: none;
    outline: none;
    margin: .3rem;
    padding: .5rem;
    border-radius: .5rem;
}

#font{
    width: auto;
}

.fontFamilies{
    background-color: rgb(50, 50, 50);
    
}

option:hover{
    background-color: rgb(74, 74, 74);
}

#save {
    width: 100%;
    background-color: #2e2e2e;
    color: white;
    border: none;
    outline: none;
    margin: .3rem;
    padding: .5rem;
    border-radius: .5rem;
}

#save:hover {
    background-color: #1b1b1b;
    cursor: pointer;
}

.linStr1,
.linStr2 {
    transform: rotate(0);
    transition: .3s ease-in-out;
}

.slopeStr1 {
    margin: 0px;
    transform: rotate(45deg);
    transition: .3s ease-in-out;
}

.slopeStr2 {
    margin: 0px;
    transform: rotate(-45deg);
    transition: .3s ease-in-out;
}

#runCode {
    background-color: rgb(159, 255, 124);
    color: rgb(0, 0, 0);
    padding: .5rem;
    margin: .2rem;
    border-radius: .5rem;
}

#runCode:hover {
    background-color: rgb(0, 255, 0);
    cursor: pointer;
}

#suggestions {
    position: absolute;
    display: grid;
    color: white;
}

#autoformat {
    opacity: 0;
}

#customCheckbox {
    height: 1.5rem;
    width: 3rem;
    border-radius: 5rem;
    display: block;
    background-color: #dcdcdc;
    border: .1rem solid #dcdcdc;
    transition: .2s ease-in-out;
}

#circle {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    display: block;
    transition: .2s ease-in-out;
}

#autoformat:checked~#customCheckbox {
    background-color: #50fa7b;
    transition: .2s ease-in-out;
}

#autoformat:checked~#customCheckbox #circle {
    margin-left: 1.5rem;
    transition: .2s ease-in-out;
}

.suggestions-list {
    background-color: #333333;
    color: white;
    border: none;
    outline: none;
    font-size: 14;
}

.suggestions-list:hover,
.suggestions-list:focus {
    background-color: #525252;
}

#console {
    height: 30vh;
    background-color: #262626;
    border-radius: .5rem;
    color: white;
    padding: .2rem;
    overflow: auto;
}

#console p {
    margin: .5rem;
}

.console-starter {
    color: rgb(138, 255, 138);
}

.console-error {
    color: rgb(255, 135, 111);
}

.symbol {
    color: rgb(167, 167, 167);
}

.keyword {
    color: #bd93f9;
}

.text {
    color: #efefef;
}

.string {
    color: #f1fa8c;
}

.number {
    color: #bd93f9;
}

.function {
    color: #50fa7b;
}

.inBuilt {
    color: #fbae7e;
    font-style: italic;
}

.operator {
    color: rgb(255, 0, 251);
}

.type {
    color: #ff79c6;
}

.comment {
    color: #6272a4;
}

#Ph-line-count::-webkit-scrollbar{
    display: none;

}

#Proton-console-wrapper::-webkit-scrollbar,
#Proton-editor-wrapper::-webkit-scrollbar {
    width: .5rem;
    background-color: transparent;
    color: transparent
}

#Proton-console-wrapper::-webkit-scrollbar-corner,
#Proton-editor-wrapper::-webkit-scrollbar-corner {
    background-color: transparent;
    width: .3rem;
    color: transparent
}